/* basic stuff and visibility */
body {
    font-family: arial;
    font-size: 125%;
}
div#setup,
#reset_check,
div#time_display .date,
div.button_click .date {
    display: none;
}

/* font sizes */
#time_display {
    font-size: 300%;
}
.milliseconds {
    font-size: 75%;
}
input {
    font-size: 200%;
}
.event_id {
    font-size: 150%;
}

/* layout and style */

h1 {
    background-color: blue;
    color: white;
}
h2 {
    background-color: grey;
    color: white;
}

div#setup {
    background-color: #FFFF99;
    margin: 10px;
    border: solid 1px blue;
    border-radius: 15px;
    padding: 10px;
}

#setup_close {
    float: right;
}

div#start_time_div {
    border-bottom: solid 1px;
}

.wickedpicker__controls__control-up:before {
    content: '+' !important;
}

.wickedpicker__controls__control-down:after {
    content: '-' !important;
}

div#start_time {
    display: inline;
}

div#time_display {
}
div#time_display .time {
    display: block;
    text-align: center;
}

div#time_button {
    padding: 10px;
}
div#time_button input {
    width: 100%;
    padding: 10px 0;
}

div.button_click input {
    margin: 3px;
}

div.button_click.ignore_yes {
    text-decoration: line-through;
}

span.event_id {
    background-color: blue;
    color: white;
    padding: 0 5px 0 3px;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}

span.rider_id {
    font-weight: bold;
}
span.rider_time {
    font-weight: bold;
}
